@mixin flexprob($dir,$color) {
     display: flex;
     flex-direction: $dir;
     justify-content: center;
     align-items: center;
     border: 2px solid $color
}

.sponsersWrapper{
     @include flexprob(column, '');
     justify-content: space-evenly;
     height: 100vh;
     h1{
          padding: 1rem;
     }
     .sponser_box{
          @include flexprob(row, '');
          width:100%;
          justify-content: space-evenly;
          flex-wrap: wrap;
          gap: 1rem;

          .sponserdiv{
               padding: 1rem;
               border-radius: 20px;
               box-shadow: 0px 16px 48px #00000029;
          }

          .sponserimg1{
               width: 200px;
          }
          .sponserimg2{
               width: 200px;
          }
          .sponserimg3{
               width: 120px;
          }
     }
}
