nav {
  background-color: #191D88;
  color: #fff;
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 2 ;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 1rem;
  justify-content: start;
}
nav ul li {
  border-radius: 5px;
}
nav ul li a {
  color: #fff;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  display: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.about-head{
  font-size: 2rem;
}

.taskFormContainer {
  padding: 1.5rem;
  display: flex;
  gap: 2rem;
  min-width: 70vw;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.st-en-wrp {
  display: flex;
  gap: 0.5rem;
}

.time-inp {
  border: 2px solid #eee;
  width: 100%;
  padding: 0.7rem 1rem;
}

#addTask {
  padding: 0.8rem 1rem;
  cursor: pointer;
  background: #4d2db7;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  font-size: 1.1rem;
}

.taskcontainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 60vh;
  overflow: scroll;
}
.task-list-empty{
  background: url('https://cdn-icons-png.flaticon.com/128/4076/4076503.png');
  background-repeat: no-repeat;
  background-position: 50%;
}
.task-list::-webkit-scrollbar {
  display: none;
}

.task-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid #eee;
  border-left: 4px solid #4d2db7;
}

.details{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.icons{
  display: flex;
  gap: 1rem;
}
.fa-trash-o{
  font-size: 1.5rem !important;
  cursor: pointer;
}

.check-task{
  cursor: pointer;
  transform: scale(1.5);
}

/* ALERT */
.alert{
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  position: absolute;
  z-index: 1;
  padding: 0.8rem 2rem;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

/* HOME CSS  */

#home{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.bg-img{
  width: 40%;
}

.bg-img img{
  width: 100%;
}

.timer-cont{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#timer{
  font-weight: bold;
  font-size: 4rem;
}

/* ANALYSIS */
#analysis{
  display: none;
}
.st-en{
  display: flex;
  gap: 1rem;
}