@import "../global/mixin";



.card3aWrapper{
     @include flexprob(column, flex-start);
     min-height: 100vh;


     .card3box{
          @include flexprob(column, center);
          width: 100%;
          max-width: 90vw;

          .card3body{
               @include flexprob(column, center);
               width: 100%;
               padding: 1rem 2rem;
               gap: 1rem;
               
               .title{
                    @include flexprob(row, center);
                    gap: 1.5rem;
               }

               p{
                    width: 100%;
                    max-width: 35rem;
               }
          }
          .body1{
               align-items: flex-start;
          }
          .body2{
               align-items: flex-end;
          }
          .body3{
               align-items: flex-start;
          }
          .body4{
               align-items: flex-end;
          }
         
     }
}