<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li><a href="/project1" target="_blank">algo visualiser</a></li>
      <li><a href="/project2" target="_blank">auto cursor move</a></li>
      <li><a href="/project3" target="_blank">suduko solver</a></li>
      <li><a href="/project4" target="_blank">intern project 1</a></li>
      <li>
        <span>JS projects</span>
        <ul>
          <li><a href="/project5/js1">snake game</a></li>
          <li><a href="/project5/js2">Notes keeping</a></li>
        </ul>
      </li>
    </ul>
  </body>
</html>
