@import "../global/mixin";

.landingHead{
     padding: 0;
     text-align: start;
}

.landingWrapper{
     @include flexprob(row,space-between);
     height: 100vh;
     background-image: url('../../assets/landing/landing2.jpeg');
     background-repeat: no-repeat;
     background-position: 100% 100%;
     background-size: contain;

     .landingInfo{
          @include flexprob(column, center);
          align-items: flex-start;
          gap: 1rem;
          max-width: 35rem;
          padding: 1rem;
          margin-left: 5rem;
     }
}

