*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bdm:34rem;
}
body{
    background: #faf8ef;
}
.container{
    height: 100%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left h1{
    color: #776e65;
    font-size: 5rem;
}

.score-wrp{
    display: flex;
    gap: 1rem;
}

.sc , .newgame{
    padding: 0.8rem 2rem;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    background: #bbada0;
}

.newgame{
    border: none;
    background: #8f7a66;
    cursor: pointer;
}

.board{
    width: var(--bdm);
    height: var(--bdm);
    background: #bbada0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1rem ;
    border-radius: 5px;
}

.box{
    border-radius: 5px;
    width: 7rem;
    height: 7rem;
    background: #cdc1b4;
    position: relative;
    font-size: 4rem;
    font-weight: bolder;
    display: grid;
    place-items: center;
    color: #776e65;
    transition: all 0.2s linear;
}
.newbox{
    font-size: 4rem;
    font-weight: bolder;
    display: grid;
    place-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 0.3s ease;
    background: #eee4da;
    color: #776e65;
}

@media screen and (max-width:786px) {
    body{
        padding: 2rem 0;
    }
    .container{
        flex-direction: column;
    }
}